<module>
	<rawname>campon</rawname>
	<repo>unsupported</repo>
	<name>Camp-On</name>
	<version>13.0.4.1</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Settings</category>
	<changelog>
		*13.0.4.1* FREEPBX-12970 Camp-on settings are not writen to corresponding cfg file
		*13.0.3* FREEPBX-10387 Misspellings in campon module noop traces
		*13.0.2* Version bump Beta
		*13.0.1alpha1* Disable by default
	</changelog>
	<description>This module implements the Call Completion Supplemental Services (CCSS) often referred to as Call Camping or Camp-On. It allows a caller to request the system call them back when a busy or non-responding extension becomes available. Requires Asterisk 1.8 or higher.
	</description>
	<depends>
		<engine>asterisk 1.8</engine>
	</depends>
	<supported>
		<version>13.0</version>
	</supported>
	<location>release/2.11/campon-2.11.0.0.tgz</location>
	<md5sum>630aee4ee195fb838c0e352f4e9138c1</md5sum>
</module>
