<module>
	<rawname>broadcast</rawname>
	<name>Broadcast</name>
	<version>14.0.1.4</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>Commercial</license>
	<licenselink>http://literature.schmoozecom.com/EUA/FreePBXCommercialModule-EndUserAgreement.txt</licenselink>
	<description>COMMERCIAL MODULE REQUIRES A LICENSE FOR IT TO FUNCTION.  Please visit www.schmoozecom.com/oss.php  The Broadcast module for FreePBX allows you to broadcast messages
	to your custoemrs or clients.  You can create campaings and set start and end times.  From their you can direct where you want the call to be directed to based on if a humna being
	or a answering machine answer the call.  Upload your CDS list of names and numbers and start your campaign.  You can also choose to get reports on your campaign daily or after the
	campaign completes.</description>
	<repo>commercial</repo>
	<category>Applications</category>
	<commercial>
		<type>paid</type>
		<link>//schmoozecom.com/xact-dialer.php</link>
  	</commercial>
	<menuitems>
		<broadcast>Broadcast</broadcast>
	</menuitems>
	<depends>
    <phpcomponent>Zend Guard Loader</phpcomponent>
    <phpversion>5.6.0</phpversion>
    <module>sysadmin ge 2.11.0.50</module>
	</depends>
	<location>release/2.11/broadcast-2.11.0.1.tgz</location>
	<md5sum>b471ad9fdc91b33eeb6ac30b2390eaf3</md5sum>
	<changelog>
		*14.0.1.4* FREEPBX-14663 Concurrent Call setting in broadcast is not working also help text needs to be changed.
		*14.0.1.3* FREEPBX-14662 After selecting campaign Restart under Broadcast Service status the Campaign activation and Service start/stop will not work until you refresh the screen
		*14.0.1.2* FREEPBX-13298 Add server time indication			
	</changelog>
	<supported>
		<version>14.0</version>
	</supported>
	<methods>
		<get_config pri="700">broadcast_get_config</get_config>
	</methods>
</module>
