<module>
	<rawname>callerid</rawname>
	<name>CallerID Managment</name>
	<description>COMMERCIAL MODULE REQUIRES A LICENSE FOR IT TO FUNCTION.	Please visit www.schmoozecom.com/oss.php	The CallerID Management module is a unique way to
	modify the caller ID that is outpulsed on the fly. By dialing a simple feature code you can change the Caller ID for the next call on your extension. Optionally you
	can also specify the Persistent field, If this is checked the CID is permanently changed for all future calls for your extension until another feature code is
	entered to change it </description>
	<publisher>Sangoma Technologies Corporation</publisher>
	<repo>commercial</repo>
	<license>Commercial</license>
	<licenselink>http://literature.schmoozecom.com/EUA/FreePBXCommercialModule-EndUserAgreement.txt</licenselink>
	<version>13.0.8.3</version>
	<category>Applications</category>
	<commercial>
		<type>paid</type>
		<link>//schmoozecom.com/caller-id.php</link>
	</commercial>
	<changelog>
		*13.0.8.3* FREEPBX-14741 Multiple CallerID Management entries can be added with same Name.
		*13.0.8.2* FREEPBX-14741 Multiple CallerID Management entries can be added with same Name, FREEPBX-14742 Delete button under CallerID Management not working, FREEPBX-14743 Empty entries can be created under CallerID Management
		*13.0.8.1* Internal fixes
		*13.0.8* PHP 5.6 Support
		*13.0.7* FREEPBX-13159 Fix escaping of CallerID Name, since astdb doesn't like it
		*13.0.6* FREEPBX-12723 Make table sortable
		*13.0.5* FREEPBX-11223 Dont add quotes to astdb values
		*13.0.4* Remove en_US Translations
		*13.0.3* FREEPBX-11044
		*13.0.2* Version bump Beta
		*13.0.1alpha1* 13 visual updates
		*12.0.1* Zend compatibility update
		*2.11.0.7* Sales cleanup
		*2.11.0.3* Add option to use '*' for callerid to dynamically input number
		*2.11.0.2* Packaging of ver 2.11.0.2
		*2.11.0.1* Don't override recording settings when changing callerid
		*2.11.0.0* Bump for 2.11
		*2.10.0.18* Packaging of ver 2.10.0.18
		*2.10.0.17* Packaging of ver 2.10.0.17
	</changelog>
	<depends>
		<phpcomponent>Zend Guard Loader</phpcomponent>
		<phpversion>5.3.0</phpversion>
		<module>sysadmin ge 13.0.69</module>
	</depends>
	<menuitems>
		<callerid>CallerID Management</callerid>
	</menuitems>
	<hooks>
		<framework class="Chown" namespace="FreePBX\Console\Command">
				<method callingMethod="fwcChownFiles" class="Callerid" namespace="FreePBX\modules">chownFreepbx</method>
		</framework>
		<sysadmin class="Sysadmin" namespace="FreePBX\modules">
			<method class="Callerid" namespace="FreePBX\modules" callingMethod="getModuleLicenseInformation">sendModuleLicenseInformation</method>
		</sysadmin>
	</hooks>
	<supported>
		<version>13.0</version>
	</supported>
	<location>release/2.11/callerid-2.11.0.3.tgz</location>
	<md5sum>34923514a157336b7300d6ccbec23b53</md5sum>
</module>
